<!DOCTYPE html>
<html>
<head> <% include ./head %> </head>
<body>
<% include ./header %>

    <a class="btn" href="/additem">Add New Item</a>

    <div class="card">

    <table class="highlight">
        <tr>
            <th>addedBy</th>
            <th>Url</th>

            <th>Videogamename</th>
            <th>createdBy</th>
        </tr>

        <% items.forEach(function(item){  %>

        <tr>
        <td><%= item.addedBy%> </td>
        <td><a href="<%= item.URl%>" target="_blank">link to localhost7000</a></td>
        <td><%= item.videoGameName%></td>
        <td><%= item.createdBy%></td>
            <td><a href="/delete?videoGameName=<%=item.videoGameName%>">Delete</a></td>
</tr>

        <% }) %>
    </table>

    </div>

<% include ./footer %>
</body>
</html>
